.signoutButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.signoutButton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
}

.signoutButton:hover::after {
    transform: scaleX(1);
}
