:root {
    /* dark text */
    --bs-body-color-rgb: 72, 54, 39;
    /* white background */
    --bs-body-bg-rgb: 249, 247, 235;
    --bs-secondary-bg-rgb: 221, 208, 179;

    --bs-emphasis-color-rgb: var(--bs-body-color-rgb);

    --bs-body-color: rgb(var(--bs-body-color-rgb));
    --bs-body-bg: rgb(var(--bs-body-bg-rgb));
    --bs-secondary-color: rgba(var(--bs-body-color-rgb), 0.8);
    --bs-secondary-bg: rgb(var(--bs-secondary-bg-rgb));
    --bs-tertiary-color: rgba(var(--bs-body-color-rgb), 0.5);
    --bs-tertiary-bg: rgb(var(--bs-secondary-bg-rgb));

    --bs-emphasis-color: rgb(var(--bs-emphasis-color-rgb));

    --transition-duration: 0.3s;


    --key2-color-rgb: 176, 80, 100;
    --key3-color-rgb: 60, 149, 25;
    --key4-color-rgb: 69, 99, 145;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* light text */
        --bs-body-color-rgb: 255, 240, 206;
        /* dark background */
        --bs-body-bg-rgb: 56, 51, 43;
        --bs-secondary-bg-rgb: 76, 69, 57;

        --key2-color-rgb: 196, 120, 140;
        --key3-color-rgb: 140, 179, 105;
        --key4-color-rgb: 109, 159, 145;
    }
}

body {
    background-image: linear-gradient(to right,
            rgb(var(--bs-body-bg-rgb)),
            rgb(var(--bs-secondary-bg-rgb))) !important;
    font-family: "Fira Code", monospace;
    scroll-behavior: smooth;
}

.font-mono {
    font-family: "Fira Code", monospace;
}

.font-mono-bold {
    font-family: "Fira Code", monospace;
    font-weight: bold;
}

.key1 {
    color: var(--bs-body-color);
}

.key1:focus {
    color: var(--bs-body-color);
}

.key2 {
    color: rgb(var(--key2-color-rgb));
}

.key2:focus {
    color: rgb(var(--key2-color-rgb));
}

.key3 {
    color: rgb(var(--key3-color-rgb));
}

.key3:focus {
    color: rgb(var(--key3-color-rgb));
}

.key4 {
    color: rgb(var(--key4-color-rgb));
}

.key4:focus {
    color: rgb(var(--key4-color-rgb));
}
