@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("DMSans-Regular.ttf");
}

@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("DMSans-Bold.ttf");
}

@font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("DMSans-Italic-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("DMSans-BoldItalic.ttf");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("LibreBaskerville-Bold.ttf");
}

@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("FiraCode-Regular.ttf");
}
